body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: beige;
}
header

.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: black;
}

.nav_links {
    list-style: none;
}

li,a {
    text-decoration: none;
    font-family: "Work Sans";
    color: white;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.about_me, .about_me2 {
    padding-top: 100px;
    text-align: center;
    font-family: "Work Sans";
}