body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: beige;
}
header

.top_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: black;
}

.nav_links {
    list-style: none;
}

li,a {
    text-decoration: none;
    font-family: "Work Sans";
    color: white;
}

li,a:hover{
    text-shadow: 2px 2px rgb(143, 115, 226);
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.about_me, .about_me2 {
    padding-top: 100px;
    text-align: center;
    font-family: "Work Sans";
}

.fotos {
    display: flex;
    justify-content: center;
    height: 300px;
    width:auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 20px;
}

.pivo {
    border-radius: 20px;
    background-color: black;
    height: 300px;
    width: auto;
}

.pivo:hover {
    box-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.forms {
    justify-content: center;
    display: flex;
    padding-top: 20px;
    font-family: "Work Sans";
    font-weight: 1000;
    border-radius: 20px;
}